@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    background: rgba(255, 255, 255, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
input {
    margin: 0;
    padding: 0;
}

.container {
    width: 1240px;
    margin: 0 auto;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
}

.subtitle {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
}

.header_footer {
    background: #131313;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 23px 90px;
}

.logo {
    text-transform: uppercase;
    color: #E3B873;
}

.header_nav_ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
}

.header_nav_ul li:not(:last-of-type) {
    margin-right: 47px;
}

.header_links {
    color: #FFFFFF;
    text-decoration: none;
    transition: all .15s ease-out .05s;
}

.header_links:hover {
    color: #E3B873;
    transition: all .15s ease-out .05s;
}

.number {
    text-decoration-line: underline;
    color: #E3B873;
    margin-right: 45px;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border-width: 1px;
    border-color: #E3B873;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    width: 207px;
    height: 51px;
}

.header_num_button {
    display: flex;
    align-items: baseline;
}

.welcome_section {
    background-image: url('/img/welcome_section.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
}

.welcome_section::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 1;
}

.welcome_container {
    position: relative;
    z-index: 2;
}

.welcome_text_wrapper {
    max-width: 550px;
}

.main_title {
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0;
}

.turnkey_wrapper {
    color: #FFFFFF;
}

.welcome_p {
    margin: 19px 0 41px 0;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
}

.transparent_button {
    background: transparent;
    border-color: #FFFFFF;
    margin-left: 20px;
}

.completed_projects_section {
    background: #131313;
    height: 1074px;
}

.completed_projects_container {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

.completed_projects {
    max-width: 442px;
    margin-top: 70px;
}

.completed_p {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin: 34px 0 42px 0;
}

.completed_ul_description {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.completed_ul_description_li {
    width: 161px;
    margin-right: 29px;
    margin-bottom: 40px;
}

.subtitle_description {
    margin-bottom: 9px;
}

.completed_ul_description_span {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.arrows {
    margin-top: 30px;
    display: flex;
}

.arrows_input {
    margin: 0 29.5px;
    cursor: default;
}

.arrows_input input:not(:last-of-type) {
    margin-right: 17.5px;
}

.arrows_input input {
    margin-left: 0;
    appearance: none;
    height: 10px;
    width: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.arrows_input input:checked {
    background: #FFFFFF;
    transition: all 0.3s linear;
}

.interiers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.interiers_ul {
    display: flex;
    justify-content: flex-start;
    font-family: 'Yeseva One', cursive;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    list-style: none;
    margin-left: -12px;
    cursor: default;
}

.interiers_ul_li:not(:last-of-type) {
    margin-right: 60.5px;
}

.furniture_input {
    appearance: none;
}

.interiers_ul_li_label {
    cursor: pointer;
}

.furniture_input:checked+.interiers_ul_li_label {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 6px;
    transition: all 0.1s linear;
}

.furniture_images {
    display: flex;
    flex-direction: column;
}

.furniture_image_2 {
    display: none;
}

.subtitle_and_vector_imgs {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vector_img_subtitle {
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.group_of_vector_imgs {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.central_vector_img {
    margin: 0 9px;
}

.monitor_imgs {
    margin: -217px auto 0 auto;
    width: min-content;
    position: relative;
}

.monitor_imgs::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.observation_example {
    position: relative;
    z-index: 1;
}

.play_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.leave_request {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.monitor_section_line {
    margin-top: 62.5px;
    margin-bottom: 34.5px;
}

.monitor_section_p {
    text-align: center;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
    margin-bottom: 91.5px;
}

.text_tel_submit {
    display: flex;
    align-items: center;
}

.leave_request_element_wrapper {
    margin-right: 57px;
    display: flex;
    flex-direction: column;
}

.leave_request_label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.leave_request_input {
    font-size: 14px;
    line-height: 23px;
    border-width: 0 0 1px 0;
    border-color: rgba(54, 54, 54, 0.3);
    width: 231px;
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.leave_request_input::placeholder {
    color: #363636;
}

.leave_request_input:focus-visible {
    outline: none;
}

.agree_line {
    margin-top: 33px;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.agree_checkbox {
    appearance: none;
    width: 18px;
    height: 18px;
    background: #E3B873;
    border-radius: 1px;
    cursor: pointer;
}

.agree_checkbox:checked {
    background-image: url(/img/tick_mark.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.types_of_repair_headline {
    margin-top: 148px;
}

.repair_subtitle {
    color: #181818;
}

.types_of_repair_container {
    display: flex;
    justify-content: space-between;
    margin-top: 31px;
}

.repair_type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repair_type_text_wrapper {
    margin-top: -128px;
    width: 330px;
    height: 295px;
    padding-top: 25px;
    padding-left: 34px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
}

.repair_types_subtitle {
    color: #363636;
    text-transform: none;
}

.repair_type_ul {
    margin-top: 13px;
    margin-left: 7px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    list-style: none;
}

.repair_type_ul_li::before {
    content: "";
    list-style-type: disc;
    display: list-item;
    float: left;
    margin: 0 -10px 0 10px;
}

.measurer_call_section {
    background-image: url(/img/advantages_background.jpg);
    background-repeat: no-repeat;
}

.measurer_call_container {
    margin-top: 260px;
    display: flex;
    justify-content: space-between;
}

.call_advantages_ol {
    list-style: none;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin-left: 135px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: #E3B873;
    border-radius: 50%;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-right: 9px;
}

.call_advantages_ol_li {
    display: flex;
    align-items: center;
}

.call_advantages_ol_li:not(:last-of-type) {
    margin-bottom: 96px;
}

.call_the_measurer {
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    padding: 28px 49px;
}

.request_form_black {
    margin-top: 39px;
}

.text_tel_submit_black {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.measurer_request_headline {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.leave_request_element_wrapper_black {
    margin: 0;
}

.leave_request_element_wrapper_black:not(:last-of-type) {
    margin-bottom: 48px;
}

.leave_request_label_black {
    color: rgba(255, 255, 255, 0.5);
}

.leave_request_input_black {
    width: 408px;
    background: inherit;
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.15);
    ;
}

.leave_request_input_black::placeholder {
    color: #FFFFFF;
}

.agree_line_black {
    color: #FFFFFF;
    margin-top: 16px;
    display: flex;
}

.submit_button_wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 39px;
}

.save_materials {
    margin-top: 39px;
    margin-left: 32px;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    max-width: 441px;
}

.circle_piggy {
    width: 72px;
    height: 72px;
    background-image: url(/img/piggy_bank.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    margin-right: 25px;
}

.wildest_fantasies_section {
    margin-top: 242px;
    background-image: url(/img/fantasies_background.jpg);
    background-size: cover;
    height: 864px;
    position: relative;
}

.wildest_fantasies_section::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    position: absolute;
    z-index: 1;
}

.wildest_fantasies_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;
}

.fantasies_h2 {
    letter-spacing: 0;
    margin-top: 115px;
}

.fantasies_ul {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 30px;
    list-style: none;
    margin-top: 47px;
    cursor: default;
    color: #FFFFFF;
}

.fantasies_ul_li:not(:last-of-type) {
    margin-bottom: 25px;
}

.furniture_input:checked+.fantasies_ul_li_label {
    padding-bottom: 3px;
}

.fantasies_ul_li_label {
    cursor: pointer;
}

.fantasies_pictures {
    display: flex;
}

.pair_of_img {
    display: flex;
    flex-direction: column;
}

.pair_of_img:nth-of-type(1) {
    margin-right: 43px;
}

.clock_img {
    margin-top: -40px;
    margin-bottom: 40px;
}

.tv_img {
    margin-bottom: -40px;
}

.sofa_img {
    margin-top: -112px;
    margin-bottom: 37px;
}

.our_clients_section {
    margin-top: 110px;
}

.clients_subtitle {
    color: #181818;
}

.group_of_vector_p {
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
    margin-top: 24px;
}

.clients_feedback {
    display: flex;
    justify-content: space-between;
}

.feedback {
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    width: 376px;
    min-height: 428px;
    padding: 24px 20px 0 20px;
    position: relative;
}

.img_and_name_wrapper {
    display: flex;
    align-items: center;
}

.client_photo {
    width: 76px;
    height: 76px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 23px;
}

.client_name {
    color: #181818;
    text-transform: none;
}

.feedback_text {
    font-size: 13px;
    line-height: 28px;
    color: #959595;
    margin-top: 22px;
}

.info_label {
    font-family: 'Yeseva One', cursive;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 290px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: -27.5px;
}

.redecorating_cost {
    height: 55px;
    width: 228px;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.map_section {
    background-image: url(/img/question_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 355px;
    position: relative;
}

.map_section::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    position: absolute;
    z-index: 1;
}

.map_section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

.type_question_block {
    background: #181818;
    padding: 34.5px 181.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 883px;
    margin-top: -222.5px;
    margin-bottom: 52px;
}

.question_subtitle {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
}

.question_input {
    width: 519px;
}

.name_phone_wrap {
    display: flex;
    margin-bottom: 49px;
}

#question_name_black,
#question_phone_black {
    width: 231px;
}

.question_write {
    margin-right: 0;
}

.question_write:nth-of-type(1) {
    margin-right: 57px;
}

.question_agree {
    margin-top: 46px;
}

.question_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address_subtitle {
    color: #E3B873;
}

.address {
    display: flex;
    margin-top: 26px;
    margin-bottom: 43px;
}

.circle_contacts {
    width: 28px;
    height: 28px;
    border: none;
}

.circle_contacts:not(:last-of-type) {
    margin-right: 15px;
}

.map {
    margin-bottom: 66px;
}

.mobile_hide {
    display: none;
}

@media screen and (max-width: 1299px) {

    .container {
        width: 340px;
        margin: 0 auto;
    }

    .header_footer {
        padding: 23px 18px;
        display: flex;
        justify-content: space-between;
    }

    .header_nav {
        display: none;
    }

    .number {
        color: #FFFFFF;
        margin: 0;
    }

    .header_num_button .button {
        display: none;
    }

    .title {
        font-size: 23px;
        line-height: 31px;

    }

    .completed_h2 {
        width: 339px;
    }

    .welcome_p {
        font-size: 14px;
        line-height: 19px;
        margin-top: 16px;
        margin-bottom: 51px;
    }

    .welcome_section {
        height: 476px;
        background-image: url(/img/mobile_welcome.png);
    }

    .button {
        display: block;
        width: 100%;
    }

    .transparent_button {
        margin-left: 0;
        margin-top: 26px;
    }

    .completed_projects_section {
        height: 905px;
    }

    .completed_projects_container {
        flex-direction: column;
        align-items: center;
        padding-top: 36px;
    }

    .completed_projects {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .completed_h2 {
        text-align: center;
    }

    .completed_p {
        font-size: 11px;
        line-height: 17px;
        text-align: center;
        max-width: 311px;
        margin-top: 22px;
        margin-bottom: 73px;
    }

    .completed_p br {
        display: none;
    }

    .completed_ul_description {
        display: none;
    }

    .completed_ul_description.mobile_hide {
        display: flex;
        flex-wrap: wrap;
        margin-top: 36px;
    }

    .arrows {
        display: none;
    }

    .interiers_ul {
        display: none;
    }

    .furniture_images img {
        width: 340px;
    }

    .furniture_image_1 {
        display: none;
    }

    .furniture_image_2 {
        display: block;
    }

    .subtitle {
        font-size: 14px;
        line-height: 19px;
    }

    .completed_ul_description_li {
        margin: 0;
        max-width: 150px;
        margin-bottom: 32px;
    }

    .completed_ul_description_li:nth-of-type(2n+1) {
        margin-right: 15px;
    }

    .completed_ul_description_span {
        font-size: 11px;
        line-height: 15px;
    }

    .subtitle_and_vector_imgs {
        margin-top: 26px;
    }

    .monitor_imgs {
        width: inherit;
        margin-top: -92px;
    }

    .observation_example {
        width: inherit;
    }

    .play_button {
        width: 60px;
    }

    .monitor_section {
        background: #131313;
    }

    .monitor_section_line {
        margin-top: 28px;
        margin-bottom: 21px;
    }

    .monitor_section_p {
        font-size: 11px;
        line-height: 19px;
        color: #FFFFFF;
        text-align: center;
    }

    .monitor_section_p br {
        display: none;
    }

    .text_tel_submit {
        display: flex;
        flex-direction: column;
    }

    .request_form,
    .text_tel_submit {
        width: 340px;
    }

    .leave_request_element_wrapper {
        margin-right: 0;
        margin-bottom: 27px;
    }

    .leave_request_element_wrapper:not(:last-of-type) {
        margin-bottom: 63px;
    }

    .leave_request_label {
        color: rgba(255, 255, 255, 0.5);
    }

    .leave_request_input {
        width: 340px;
        background: #131313;
        color: #FFFFFF;
        border-color: #FFFFFF;
    }

    .leave_request_input::placeholder {
        color: #FFFFFF;
    }

    .mobile_request_submit {
        display: none;
    }

    .agree_line {
        color: #FFFFFF;
        margin-top: 0;
    }

    .mobile_margin {
        margin-bottom: 80px;
    }

    .button.mobile_hide {
        margin-bottom: -25px;
    }

    .types_of_repair_section {
        background: #FFFFFF;
        position: relative;
        z-index: 3;
    }

    .types_of_repair_headline {
        padding-top: 80px;
    }

    .repair_subtitle {
        font-size: 22px;
        line-height: 30px;
    }

    .types_of_repair_container {
        flex-direction: column;
    }

    .repair_type:not(:first-of-type) {
        margin-top: 80px;
    }

    .measurer_call_section {
        display: none;
    }

    .wildest_fantasies_section {
        background: none;
        padding-top: 75px;
        margin-top: 0;
        background-color: #FFFFFF;
        height: 100%;
        position: relative;
        z-index: 2;
    }

    .wildest_fantasies_section::before {
        display: none;
    }

    .wildest_fantasies_container {
        flex-direction: column;
    }

    .fantasies_ul {
        display: none;
    }

    .tv_img,
    .sofa_img,
    .table_img {
        display: none;
    }

    .clock_img {
        margin-bottom: -121px;
    }

    .fantasies_h2 {
        margin-top: 0;
        margin-bottom: 80px;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }

    .our_clients_section {
        display: none;
    }

    .map_section {
        margin: 0;
        padding-top: 0;
        background-image: none;
        background: #131313;
        position: relative;
        z-index: 1;
    }

    .map_section::before {
        display: none;
    }

    .type_question_block {
        background: #131313;
        padding-top: 0;
        margin-top: 173px;
        width: 100%;
        padding: 0;
    }

    .name_phone_wrap {
        flex-direction: column;
        align-items: center;
    }

    #question_name_black,
    #question_phone_black,
    #question_ask_black {
        width: 340px;
    }

    .question_write {
        padding: 0;
    }

    .question_write:nth-of-type(1) {
        margin-right: 0;
    }

    .leave_request_element_wrapper.question_write {
        margin-bottom: 22px;
    }

    .submit_button_wrapper {
        display: block;
        width: 340px;
    }

    footer.header_footer {
        display: none;
    }

    .map img {
        width: 340px;
    }

    .repair_type img {
        width: 340px;
    }
}